h1 {
    color: purple;
    text-align: center;
    font-size: 40px;
}

div {
   font-size: 20px;
}

.div3 h3 { 
    color:red;
    
}

p.large-text {
    font-size: 60px;
    color: blue;
}

table, td, th { 
    width: 30%;
    border: black 1px solid;
}